body {
    margin: 50px 10px;
    background: #FFFAFA;
}

h1 {
    text-align: center;
    color: #a393eb;
    font-family: "Impact (sans-serif)";
    font-size: 50px;
}

h2 {
    text-align: center;
    display: block;
    margin: 0 auto;
    background-color: #fffafa;
    font-family: Comic Sans MS;
    border: 20px ridge rgba(151, 115, 244, 0.6);
    border-radius: 20px;
    padding: 15px;
    font-size: 18px;
    max-width: 90%;
    border-radius: 40px;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 40%;
    border-radius: 88px;
}

p {
    line-height: 30px;
    font-size: 1.25em;
    font-family: "Optima";
    margin: 20px 50px 10px;
    color: #fff;
}

span {
    font-weight: bolder;
}

button {
    display: block;
    margin: 30px auto;
    background: #dcd6f7;
    font-size: 23px;
    color: #fff;
    padding: 20px 30px;
    border: none;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.9);
    transition: all 200ms ease-in-out;
}

button:hover {
    opacity: 0.9;
    cursor: pointer;
}

.container {
    background: linear-gradient(
    177.9deg,
    rgb(255, 228, 254) 5.3%,
    rgb(255, 228, 254) 5.3%,
    rgb(188, 132, 173) 94.7%
    );
    max-width: 550px;
    margin: 0 auto;
    padding: 25px 50px;
    border-radius: 10px;
}

.read {
    color: #424874;
    margin: 0px 50px;
    text-decoration: none;
    font-size: 13px;
}

.read:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    font-family: "American Typewriter";
    font-size: 12px;
    background-color: rgb(253, 244, 255);
    padding: 20px;
    border-radius: 4px 16px;
}

.me {
    text-decoration: none;
    color: #424874;
}

.me:hover {
    text-decoration: underline;
    color: #f5c7f7;
}
